            <div class="services">
                <!-- Title -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="service-heading">{{linkitem.type}}</h3>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Page Features -->
                <div class="row text-center">

                    <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="component in linkitem.components">
                        <div class="thumbnail">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="caption" id='{{component.id}}' ng-controller="extensionControler">
                                <h3>{{component.title}}</h3>
                                <p class="description">{{component.description | cut:true:60:' ...'}}</p>
                                <p>
                                    <button class="btn btn-primary" id='{{component.id}}' ng-click="installExtension(component.id)">Install Now!</button> <a href="#" class="btn btn-default">More Info</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div> 